%h1 Vizio CT15-A5

%p==My current laptop is the #{link_to "Vizio CT15-A5","http://www.amazon.com/Vizio-CN15-A5-VIZIO-15-6-Inch-Laptop/dp/B009PJHD3Y/ref=sr_1_2?ie=UTF8&qid=1370405701&sr=8-2&keywords=Vizio+CT15-A5&tag=ryanmull-20"}.

%p=link_to "Vizio CT15-A5 Secure Boot Ubuntu 12.10 Live USB", "vizio-ct15-a5/secure_boot.html"
%p=link_to "Vizio CT15-A5 review", "vizio-ct15-a5/review.html"

