%h1 Vizio CT15-A5 review

%p I’ve been using the Vizio CT15-A5 since Cyber Monday 2012. I bought it on sale at the Microsoft store for $799.  Overall, I am very happy with it.

%h2 Pros

%p For the price, you get a lot: 15.6” IPS display, 3.8lb, 256GB SSD, 4GB RAM, Core i7, great build quality (chassis is aluminum everywhere except the bottom, which is a nice non-slip rubber), and UEFI. UEFI means that boot times are really short, which is quite nice when dual booting.

%h2 Cons

%p Kinda-low RAM and it is not upgradeable.

%p Keyboard - The keys do not register key presses when you press the corners of the keys all the way down. If you get used to it, you learn to type in the center of the keys so it registers.

%p Battery - The battery life seems kind of low for this class of ultrabook. I think this is where they skimped most. I think the battery life is about 5hrs. They claim it can get up to 7.

%h2 Conclusion
I recommend this laptop strongly if you can get it at $799.
