<?xml version="1.0" encoding="UTF-8"?>
%rss{:version=>"2.0", "xmlns:atom"=>"http://www.w3.org/2005/Atom"}
  %channel
    %link=feed['link']
    %atom:link{:type=>"application/rss+xml", :href=>feed['rss_link'], :rel=>"self"}
    %title=feed['title']
    %description=feed['description']
    %language=feed['language']

    -entries.each do |entry|
      %item
        %pubDate=entry[:pubDate]
        %guid=entry[:guid]
        %link=entry[:link]
        %comments=entry[:comments]
        %author=entry[:author]
        %title=entry[:title]
        %description==<![CDATA[#{entry[:description]}]]>
