-@title = "MUD on Bluehost"
-@tags  = ["RyanTM", "Articles"]
%h2
  Host Your MUD on Bluehost
  #date
    15 July 2007
%p
  Webhosts that are not MUD-specific are good choice for a seasoned linux user. One webhost that I have used to run Deimos MUD (quarkmud.com 6666) is Bluehost. Here is how to move your MUD to Bluehost.

%h3 Obtain a Bluehost Account
%p
  ="Go to www.bluehost.com. #{link "referral link", "http://www.bluehost.com/track/ryantmulligan/article"} (I get paid if you buy through this link.)."
  Then click the "Sign Up Now" button, enter your desired domain name(www.yourMUD.com). The Bluehost domain privacy is a useful feature, prevents your name and mailing address from appearing in public domain registry records.

%p
  Now enter all of your personal information. Then select the 24 month price. The 24 month price comes out to $166.80 for 2 years, also Bluehost will give you back all the money from months you haven't used if you decide you don't like them.

%p
  Now comes the slightly hard part. You can get shell access by proving you are a US citizen. If you aren't citizen of the USA, sorry. To do this you need to email them a copy of your drivers license or passport. The info on it should match up with the info you entered above. I'm not exactly sure where to email this to, so just call Bluehost (The number is on their website frontpage) and ask them what to do. They are fairly helpful.
%p
  Okay now you have shell access. This tutorial isn't really how to set up a new MUD but more to move your MUD to Bluehost. I might do a later tutorial about how to set up a new MUD if people are really interested.
%p
  Presumably you have the files of your other mud somewhere on another shell. If this is the case do:

="<pre>scp your-user@otherhost.com:~/path/to/mud/ your-user@yourMUD.com:~/mud/</pre>"

%p
  That could take a while to finish because your MUD probably has a crapload files. If your MUD has a MySQL database instead, you'll still be okay. You just dump your database on your host and then upload it into the MySQL database on Bluehost (which you can create really easily with the Bluehost cPanel)
%p
  There are many other ways to get the files onto the server and I can't cover them all, but some include FTP, RSync, and Subversion.
%p
  Okay now that this is done you need to compile your MUD on Bluehost. This could be more difficult than your previous MUD host. For instance, my circleMUD would compile fine on the old gcc that Wolfpaw was using, but Bluehost has a much newer GCC so I got a whole bunch of warnings and errors. The best way to fix these is to just go error by error, then warning by warning, until they are all fixed. After I fixed them all my MUD compiled okay. And I was able to run it. After it was running I could connect to it with:
="<pre>telnet deimosmud.com 6666</pre>"

%p
  you'd just substitute your domain name and port there.
%p
  One last thing you should know is that sometimes Bluehost kills processes that have been running for a really long time. If this happens you want your MUD to come back up in a reasonable time. You cannot solve this the traditional MUD way of just having an autorun script that is constantly running. Instead you have to use a cron job. You can make the cron job using the cPanel interface again. It is best to make a script that will be run to check if your MUD is still running. Here is my script for doing so:

="<pre>#~/persistent_processes.sh\n\n#DeimosMUD\nDM=`ps ex | grep circle`\nif [ -z \"$DM\" ]; then\necho \"Restarting DeimosMUD\"\ncd /home/your-user-name/mud/\n./bin/circle 6666 &\bfi</pre>"

%p
  Make sure the file is executable with:
="<pre>chmod +x persistent_processes.sh</pre>"

%p
  This checks if there is a process running that contains the word 'circle.' If there is not, it restarts the server using the proper shell command to restart the server. I set this script to run every minute using the cron task. To do this go to "Cron Jobs" on the cPanel and then select "Advanced Unix Style." Then fill all of the boxes on the left in with asterisks and type the path to the file you saved above. The path should be something like "/home/your-user/persistent_processes.sh". 
%p
  There you have it, now you have a stable MUD running for a good price.
%h3
  Performance Note
%p
  My performance on Bluehost has been better than Wolfpaw. Players all reported the speed increase which was quite nice to experience especially for less money.