-@title = "Articles"
-@tags  = ["RyanTM", "Articles"]
%h2 Articles
%ul
  %li=link_to "Host your MUD on Bluehost", "articles/host_your_mud_on_bluehost.html"
  %li=link_to "No Files, a prediction", "articles/no_files.html"