-@title = "No Files"
-@tags  = ["RyanTM", "Articles"]
%h2
  Science
  #date
    19 Jan 2008
%p
  There will be no files in the future. Files are an artifact of computer construction. Files face many user interface problems.
  Here are the problems with files:
%ol
  %li Location&mdash;You have to know where they are, and you can't always get to them.
  %li Volatility&mdash;Files get lost, stolen, and corrupted.
  %li Context&mdash;Where a file is effects what it does.

%h3 Location

%h3 Volatility

%h3 Context

//  The volatility problem has seen the most research and products: file backups, raid arrays, and encrypted hardrives. All of these services place a great burden on the user. 