%p
  This is an easy add-on habit that serves as a diagnostic tool and an
  improvement exercise. When you are putting your shorts, pants, or
  underwear, try to move your legs in a very methodical way where you
  are in complete control of the position at all times. If you can, do
  this without holding on to any object to help steady yourself. Try
  to maintain perfect balance while dressing and undressing yourself.

%p
  If this is difficult for you, steady yourself on an object and
  over-time reduce the amount of force you are placing on the
  object. With continued effort, you will eventually improve your
  balance enough to avoid needing an object. You might notice that you
  still are moving your body in an uncontrolled manner to steady
  yourself. Focus on a very smooth, slow, and controlled motion while
  dressing.

%p
  Once you can do this in a very smooth and controlled way, you can
  speed up to challenge yourself. Another modification you can do to
  challenge yourself is to go up on the ball of your foot that is
  resting on the ground. Or, if you are really extreme, balance on the
  heel of your foot.

%p
  Another place to apply this balance exercise is putting on your shoes,
  so once you feel pretty comfortable with your balance, try putting on
  your shoes while standing up. The goal is to be able to put on your
  shoes in a slow controlled motion with only one foot on the ground at
  a time.

%p
  When I started add on this habit, I noticed that I could balance while
  putting on my clothes, but it was always with big swings of my
  arms and legs. Over time, I have increased my balance
  #{link_to "margin of error", "blog/increase-your-margin-of-error/"}.
  Sometimes, when I dress quickly I lose focus and revert back to my old
  ways. It is okay when this happens: refocus yourself and continue to
  improve your balance!
