-@ignore = true
%p
  The best way to learn is to admit you suck and then fix it. If you think that you do not suck at something you are done learning it. Being done learning is bad. When you stop learning, you stop improving, and it is only a matter of time before you suck so much that you can not deny it. Not sucking is always a moving target, and it is always relative. Remember you suck and fix it.