%p
  I added a couple of balancing habits to my day. When I put on my
  clothes in the morning, I try to do very carefully and smoothly. I try
  to make sure I am very balanced while doing it. Jumping around, or
  shifting my weight quickly is considered a failure, and I need to keep
  working on it. Also, I have been doing a similar routine when I put on
  my shoes. This is made more challenging by some of my shoes being road
  cycling shoes, which do not have much traction and have a lot of
  straps to stick down.

%p
  It has been a couple of weeks since I started focusing on this and
  trying to make it better. I am happy to report that I can already
  notice some improvements. Before, I would often need to grab
  something while putting on my cycling shoes, but now I am shifting
  my weight quickly only some of the time. At least once, I was able
  to do it very smoothly.

%p
  This is another achievement toward my goal of increasing my
  #{link_to "margin of error", "blog/increase-your-margin-of-error/"}.
  I did not need to have smooth balance while putting on my shoes and
  clothes. I could have sat down in a chair to do it. In order to feel
  like I am living my life safely, I need to feel like I have the
  strength, flexibility, endurance, etc. above what I need on a normal
  day. If I do not set my bar higher than a normal day, my body is
  going to adapt to doing the minimum it can.

%p
  It is very empowering to think that a little focus for a few minutes a
  day can have an effect in only a couple weeks! Focusing on a few
  #{link_to "projects", "blog/always-have-a-project/"}
  can lead to real gains in short time. This is true even when minimal
  time is invested. The opposite is also true though. If you do not
  keep challenging yourself, you will start to see real losses over a
  short time scale. It is your choice which direction you want to be
  heading. I do not care how fast or hard you are going but pick that
  you will head in the direction of greater strength, flexibility,
  endurance, and stamina. Choose to get better, a little at a time.
