-@title = 'Book'
%h1=@title
published at Tue, 05 Jun 2007 02:24:00 +0000

%p
  Yesterday I started reading Duct Tape Marketing by John Jantsch. This book is seriously great! As the owner of a small business, I keep getting ideas in my mind about how to improve it's marketing while reading it.<br /><br />I've never actually read a Marketing book before. I've always focused on reading programming and entrepreneurial books before. I've realized though that if I want to get serious about supporting myself through my own businesses I have to learn how to market, because as Jantsch says, "every business is actually a marketing business." (pg xi) <br /><br />My plan as I know it so far:<br /><br />If I want to eat food, I need to convince other people to give me money. People only exchange money for value, so I need to show them how my business is valuable to them. If I just make something that is valuable, it's not good enough, because noone will know that I've made it and they will think whatever I've made is generic crap. That's why I need to market what I've made. To show people what I make is good stuff and they can get my good stuff by giving me money.<br /><br />Then I can go buy a bagel.<br /><br />Takeaways:<br /><br />You cannot survive on your technical skill alone!<br />People will not find you unless you market yourself.
