-@ignore = true
%p
  Cancun is a city on the northeast corner of the Yucatan peninsula in the state of Quitana-Roo in the country of Mexico. It is known primarily for its party scene but there is a lot to do besides that. I have visited Cancun four times in my life and each time I had a wonderful time.

%p
  If you are going to Cancun to party (which I never have), I recommend you stay at a hotel that is all-inclusive. If you get your drinking done during the day time you will not be so compelled to waste your money on the over priced drinks at the clubs and bars. One hotel that I stayed at, the Tucancun, is a good choice for this schedule.

%p
  If you are not into partying you should stay at a hotel closer to Playa Del Carmen. The beaches are much nicer and Playa Del Carmen is a closer to the Mayan ruins and amusement parks. Most of the travel packages you get will include a bus ride to your hotel when you get there and back to the airport in the end, so there is no need to rent a car. Also, if that wasn't enough, there is an excellent public van system called the "cambia" which is subsidized by the government making it dirt cheap to go anywhere along the highway west of Playa Del Carmen. You can even take the "cambia" into Cancun.

%p
  One place you must visit if you go to Cancun is Tulum. The Mayan ruins at Tulum are excellently preserved and well maintained. The site has bathroom facilities and ethnic shopping opportunities. The best part of Tulum is that you can climb down the cliffs overlooking the ocean to a beautiful white sand beach. The water is perfect so bring your bathing suit.

%p
  If you are interested in seeing more Mayan ruins, there is also Chichen Itza. It features a Mayan castle (Castillo), a 150 meter ball court, many other well preserved ruins. The time I visited they were still letting people ascend the Castillo, but after some tourists got injured by falling, the stairways have been closed to the public. The Castillo is built so that during the spring and fall equinoxes, the sun will hit it just right and make it look like a giant serpent is crawling down the side of the castle. If you are flexible with your trip timing this could be an excellent time to go.

%p
  The city of Playa Del Carmen offers some newly built up-scale shopping areas, and a ferry to Isla de Mujeres. Isla de Mujeres is a island just big enough to have its own airport. It also sports a marine ecological preserve where snorkeling is allowed. Back when I visited last, the preserve still had some nice fish and other life to look at. With the continual snorkeling that they are allowing, it is hard to believe that it will stay nice forever.

%p
  Mexico is on good terms with the USA, but bringing passports is a must. A couple of times my dad only brought birth certificates for my sister and I, but this proved to be a hassle and usually resulted in automatic customs inspection.
