%p
  One financial skill that I have been most interested in lately is <b>capital preservation</b>. Capital preservation means that once you decide to invest some money, you try to never spend that money on a non-investment related activity, or lose it on bad investment. Operating from this frame of mind does two things for you. One, it keeps you thinking about ways to invest your money, and two it forces you to save for the future.

%p
  One of my life goals is to invest more and more of my net income over the course of my life. As a start out, it should be tough to save more than 50% of my current income, but as I start earning more money, living more efficiently, and making more money from investment opportunities, this percentage should get higher. There really is no limit to how high this percentage can be, for instance, if you are one of the richest people in the world, you have so much money that you can even possibly spend it all on yourself, so you have to invest it. One of the richest people in the world might have a capital preservation rate of 99.999%.

%p
  Increasing your capital preservation rate is a good idea because the more capital you have, the more additional income you can generate from it. Take the simple example of a savings account. When your account earns interest, if you keep the interest in that account, that interest also earns interest. It is called compounding -- <b>one of the most important financial concepts</b>. The more capital you have that generates additional capital, the higher and more quickly your capital preservation rate will climb.

%p
  <b>Most financially illiterate people actually try to do the exact opposite.</b> Instead of trying to increase their capital preservation rate, they try to decrease it. If you spend every dollar you make on non-investment activities, your capital preservation rate is 0%. It does not matter if you make $1 million dollars a year, or $10 dollars a year. If you spend it all, your capital preservation rate is 0%.

%p
  It is actually possible to have a negative capital preservation rate. If you spend more than you make on non-investment activities you have a negative rate. It does not matter if you are spending money that was in a bank account, or money you got on credit ( credit card, loan, etc.). Either way you have a negative capital preservation rate.

%p
  The most illiterate people actually try to maximize their negative capital preservation rate. They will try to borrow as much money as they can from banks, and credit cards for non-investment expenditures. While they think they are living like a rich person, really they are as far from it as possible. A truly rich person tries to maximize their capital preservation rate, the richest have a rate so close to 100% that they stop caring.