-@title = 'Complete iPhone Review'
%h1=@title
published at Sat, 30 Jun 2007 20:14:00 +0000

%p
  This is the <a href="http://www.fodforthought.com/?itemid=135">complete iPhone review</a> that I wrote.
