%p
  Looking back on the physical injuries I have had in my life, I see
  a recurring pattern. Almost every time I was injured, it was because
  I was competing. I was trying to outdo some other person, showing
  off, or most often doing competitive sports. I do not believe that
  competition is all bad, and I think that by competing I was able to
  keep in great physical shape as a child, but I think the pattern is
  alarming.

%p
  The often unchallenged assumption is that people should compromise
  their body to gain an advantage in sports, weight lifting, and other
  physical activities. I want to challenge it! I think that you should
  perform below the threshold of hurting yourself. I remember playing
  soccer in high school, I would keep playing even if I slightly hurt
  my ankle. Now, I attribute this to the recklessness of youth and bad
  coaching. I feel like I would have been much better off if I trained
  hard enough to increase my skills and body strength to well above
  the level I expected to need to be at and then perform with a nice
  #{link_to "margin of error", "/blog/increase-your-margin-of-error/"}.

%p
  At the same time I was playing high school soccer, I was also on a
  park district team. On this team, I was in better shape than most of
  the other players. I was playing two different soccer games. One at
  the edge of my limits and one with a healthy margin of error. Also,
  since it seemed comparatively easy, I felt less need to be
  competitive.

%p
  This sounds like a great way to operate, but I have not figured out
  how to do it consistently. Whenever I am competing, I find myself
  pushing myself to the edge of my limits. I feel no problem following
  this advice in my own personal exercising though. As long as there
  is no person I am trying to catch or no record to beat, I am safely
  able to maintain my margin of error.

%p
  Competition is not the only source of injuries. Sometimes you can
  randomly be injured by bad luck, or another person might be reckless
  enough to injure you even when you are safely below your limits. For
  me though, I feel competition is the most common time I have been
  injured in the past, and I think it makes sense that you are more
  likely to be injured when you are trying to perform at your maximum
  ability.

%p
  Lately, I have followed some fairly strict protocol to avoid injury. I
  avoid team competitive sports, I cautiously and never automatically
  increase the difficulty of my efforts, I avoid comparing myself to
  others, and
  #{link_to "I listen to my body", "/blog/listening-to-pain/"}. If I
  ever feel any pain, I take it very seriously.

%p
  This plan can be a bit lonely because you do not have someone to
  encourage you or to antagonize you. Your motivation has to come from
  different places. If you are not very competitive, it is probably
  extreme overkill. But for me, I feel like it is an easy rule to
  follow that leads to a reduction in injuries.

%p
  It is worth it to challenge your assumptions about trying hard. Are
  you compromising your body for the sake of extra gains? Is it really
  worth it? What if it leads you to a big injury that means you cannot
  do the activity you love again? I try to organize my activities
  based on avoiding injury. Another strategy is to train harder that
  you need to. Another strategy might be to practice not caring about
  the results of competitions. Anyway, avoiding injury should be a
  chief concern and not one that is superseded by competition.
