%p
  At the bottom of every page on this website, I have a little Public
  Domain icon. If you hover over it, it says:

%blockquote
  To the extent possible under law, Ryan Mulligan has waived all
  copyright and related or neighboring rights to www.ryantm.com.

%p
  I do not want to copyright my work, and I want to make it available
  to anyone who wishes to use it.

%p
  I feel morally compelled to put my work into the public domain. To
  the extent that my work is copyrighted or patented, I am warranting
  the government to use force against people to compel them to the
  terms of copyright and patent law. If I am able to free my works
  into the public domain, the government loses a justification for
  using force against the copier. When someone uses copyright law,
  they are condoning the copyright system and the governmental
  enforcement of it. It strikes me as uncivilized to see someone
  copyrighting their work. They are reminding me that their big pal,
  the government, can come around and force me to do or not do
  something if they do not like what I have done. I do not want to put
  the people that I meet in life into that kind of position. I do not
  want them to have to worry about what governmental actions I might
  invoke on them at a later time period.

%p
  Some people are not that worried about this governmental action
  because they believe that they will make the right decision about
  who to censor and who to let freely use the works. But we do not
  live forever, who can guarantee that our estate will be so wise and
  benevolent? Even if you did carefully construct your will and estate
  to wisely choose who should benefit from your works, the government
  might choose to enforce the copyrights against people they did not
  like and wanted to harass. To me, it is better to take this off the
  table while I am still around.

%p
  I feel that work in the public domain is inherently more valuable. It
  can be freely remixed, translated, expanded, fixed, distributed, and
  sold. Encountering such unencumbered information in the world is
  refreshing and exciting. What might people do with my work or other
  works in the public domain? This might be a good time to remind you
  that the
  #{link_to "source code of my website", "https://github.com/ryantm/ryantm.com"}
  is available for anyone to see and modify. Please make a pull request
  or an issue if you notice something is wrong!

%p
  When you see a work in the public domain, you do not have to wonder if
  you can use it. You can. You do not have to consult anyone before
  using it. You just use it. There is a constant overhead or resistance
  to using the works of most people. With a public domain dedication,
  you are greasing the wheels of sharing and improving the value your
  work delivers to those who come upon it. You are maximizing the
  number of people that can benefit from it.

%p
  Using a public domain dedication seems more consistent with
  reality. There is no force or logical reason stopping us from
  copying and reproducing items we see around us. On the contrary,
  almost everything we do is naturally copied from other people. Can
  you imagine if someone copyrighted a language, or patented walking?
  The concept of copyright and patents do not seem grounded in a
  reasonable understanding of reality. I see them as a ideology
  created by people trying to monopolize activities who convinced
  enough people that they should give in to their base desire to be
  unique and their narcissistic belief that they are capable of
  producing some idea that the world owes them for.

%p
  It feels good to do work that is open and freely available. I know
  that when I share it, there is no catch. There is no trap laid out for
  unsuspecting people to fall in and get on my bad side. I am giving my
  work as broadly and as freely as I can.

%p
  I hope that you will consider doing the same. Unfortunately, the
  government has made the default be that works are copyrighted. Set
  your work free with a public domain dedication.
