%p
  Have you ever wanted to remind yourself of an email? People frequently remind themselves of emails by leaving those emails in their inbox. If you're busy, like me, your inbox reminders will grow uncontrollably. That's why I developed <a href="http://www.replylater.com">ReplyLater.com</a>. ReplyLater.com lets you schedule email reminders by simply sending emails. Let me show you what I mean.

Say I want to send an email to a company about a business proposal I have. I want to make sure they reply to me within a certain timeframe, or I want to followup again. The way I used to do this is by sending the mail to myself and leaving it in my inbox until I have the time to look through my inbox for things to do. Instead now I just address the email like this:
<pre>
BusinessDevelopmentGuy@google.com, 2weeks@replylater.com</pre>
Good, I'm giving BusinessDevelopmentGuy 2 weeks to get back to me, but after that I'm going to get a email reminding me about this.

There are plenty of other applications to this as well. You can remind yourself about future events and obligations, like birthdays, anniversaries, little league games, vacations, etc.

<a href="http://www.replylater.com">ReplyLater.com</a> is free to use, so theres no reason you can't go to <a href="http://www.replylater.com">the website</a> and check it out and start using it now! Any comments or suggestions are appreciated.
