%p
  By following this post you will have a website that you can visit in your web browser just like this one, for nearly free(less than 5 cents a year) in 20 minutes. In addition to being easy to set up, your website will be on top of a highly scalable and reliable architecture which will handle traffic spikes with ease.

%p
  ==The company we will use to host this site is called #{link_to "NearlyFreeSpeech.NET", "http://www.nearlyfreespeech.net"}.

%h2 Signing up
%ol
  %li==Visit #{link_to "NearlyFreeSpeech.NET", "http://www.nearlyfreespeech.net"} now.
  %li Click "Sign Up Now" in the top left.
  %li Click "Create a membership."
  %li Fill out the form and click "Sign Up for NearlyFreeSpeech.NET."
  %li Check your email for the confirmation email.
  %li Click the link in the email, or follow the other sign in methods. Remember the password in the email as well.
  %li Enter your password to log in.

%h2 Making your site
%ol
  %li Click "Create a new account" on the right sidebar.
  %li Fill out the form and click "Save Changes."
  %li At this point NearlyFreeSpeech.NET will give you 2 cents for free for a 30 day trial usage. (After 30 days, you will have to pay at least 25 cents to keep your site running.)
  %li Click "sites," then "Create a New Site" on the right sidebar.
  %li Pick a name for your site that will become part of the URL of your site. For example, a short name of "ryantm" would give "http://ryantm.nfshost.com."
  %li Click "Continue."
  %li Unless you already have a domain name, select "No" and click "Continue."
  %li Click "Create Now."


%h2 Adding your first web page
%ol
  %li Open a text editor (on Windows try Notepad).
  %li
    %div
      Enter the following text:
    %pre
      %code.html.language-html
        :ep
          <html>
            <head>
              <title>My First Page</title>
            </head>
            <body>
              <h1>Hello World Wide Web!</h1>
            </body>
          </html>
  %li Save your text file as "index.html".

%h2 Uploading your first web page ( on windows )
%ol
  %li Open Windows Explorer (Shortcut: type "windows+r" then type "explorer" and press enter).
  %li Type "ftp.phx.nearlyfreespeech.net" into the address bar.
  %li Enter your username, "YourUserName_YourWebsiteShortname" and the password you received by email.
  %li Click and drag your index.html file into the directory.

%h2 Uploading your first web page ( on Linux )
%ol
  %li Open a terminal
  %li type
%pre
  %code.html.language-html
    rcp index.html YourUserName_YourWebsiteShortName@ssh.phx.nearlyfreespeech.net:/home/public

%h2 Visiting your site
%ol
  %li Visit your site at http://YourWebsiteShortName.nfshost.com.
  %li Enjoy
