%p
  Before I got into the habit of addressing my chronic body aches, I
  noticed that I was starting to get pain in my lower back. This was
  probably from sitting in front of a computer for almost all of my
  waking hours. Back pain is one of pervasive job hazards of being a
  computer programmer or office worker. This pain seemed more serious to
  me than the other joint aches I had in my body and try to seek a way
  to correct it. I came upon a very easy exercise routine that helped me
  to not feel back pain for many years now.

%p
  I did plank (or planche) exercises every morning. Sounds like I a lot
  of work, right? In reality, it takes only about one minute a day. Pick
  a good time of day to add on your planks. Maybe right when you wake
  up, or right before you put on your work clothing. You can do it
  anywhere there is some open floor. I used to like to do mine on a
  yoga/exercise mat, but carpet works fine.

%p
  To do a simple plank, put your elbows and forearms down on the ground
  with your upper arm and elbow making a 90 degree angle with the
  forearms. Shoulders should be directly above the upper arm and in a
  neutral position. Flex your abdominal core muscles and squeeze your
  butt tightly. Your legs should be out back with your feet spaced at
  about shoulder width apart. Look straight down at the floor with your
  head and neck in a neutral position. The only points of contact with
  the floor are your forearms and toes. This should force you into a
  good position, but let me describe what a good position is anyway. A
  good position will have your butt slightly above your knees and your
  back will not be arched or caved in.

%p
  Hold this position for as long as you can at first. I eventually got
  up to two repetitions for one minute each. I believe for a lot of
  people this can be all it takes to go from feeling a slight regular
  pain to being pain free in your back. If you find that you need to
  lift heavy objects occasionally, this will probably not be enough
  exercise to keep your core in good shape and your spine
  well-protected. For this, you should look into doing more plank
  repetitions, progressively harder variations and other core
  strengthening exercises like stomach vacuuming and weight
  lifting. Sports like running and cycling are also good at building
  core strength if you work on having good form.

%p
  A little maintenance exercise can go a long way at addressing chronic
  aches and pains you have in your body. The same technique can apply to
  a variety of other pains you might be feeling.
