%p
  The purpose of starting this blog again is to learn to write well. So far I have been trying to learn to write consistently first. The only way to learn to write well is to first develop a steady stream of writing. I have been cranking out a stream of marginal paragraphs for the last ten days, but I have not been applying an editorial process to my words. All I have done is briefly review each post before posting it. Since I want to get better at writing, I need to apply a feedback cycle to my work.

%p
  ==I have decided that every Sunday I am going to post a critique of the last seven posts that I have made. Starting this Sunday I will post a grammatical, stylistic, and content critique of all of my posts. This critique will give me a chance to examine my mistakes and keep me conscious of areas I could improve in. I encourage anyone reading this to do one of two things. Either one, post a critique of my posts on your own website, or two, send me your comments by email (#{email}). If you write a post I will link to it, if you send me comments I will credit your comments in the post. I will include all the comments I receive along with my own.

%p
  I think that over time this feedback will become a fun game for improving my writing.