-@title = 'lsof lists open file descriptors'
%h1=@title
published at Mon, 30 Jun 2008 19:25:29 +0000

%p
  lsof is a linux command that lists the open file descriptors on your system. I like to use the following options to help reduce spam:
<pre>lsof -c command-name
lsof -p port-number</pre>
