%p
  Charities usually have a mission. The mission says who to help and how. It helps to be specific. Charities that focus on cleft lips tend to do better than ones focusing on heart disease. The charity I thought of is quite specific with its mission. The mission is to <b>destroy all of the money donated to it</b>.

%p
  By destroying all the money donated, this charity will be bolstering the value of the currency donated. For example, when you donate one million USD to this charity, everyone else's US Dollars become more valuable. It is the opposite of inflation. Instead of goods and services costing more because there are more dollars around to buy them, they cost less because there are less dollars around to buy them.

%p
  By reducing prices in general, this charity makes it easier for consumers to buy necessary items. Instead of each paycheck being able to buy less and less goods and services, it will be able to buy more and more.

%p
  If popular enough, it may make a slight dent in the rampant inflation caused by the central banks of the world. In fact, to make it more effective, instead of destroying the money donated to it, it will first invest the money and only half the proceeds. This will create a machine that destroys every increasing amounts of money.

%p
  Unfortunately, <b>the burning would not negate the bureau-potism caused by the inflationary system</b>: the system that favors those who are close friends with the government by buying their goods and services with inflationary dollars. It would also not help people pay off loans. Most of the money in existence in the world is because banks loaned it into existence, and when they charge interest on top of the created money, it becomes impossible for people to pay off all the debt in existence even by using all the credit in existence. This charity would be destroying credit, without quenching the debt that created it.