%p
  I'd like to announce that there is a website for the MU* framework I'm building. The website is <s><a href="http://quarkmud.com">QuarkMUD.com</a></s>. We aren't quite ready to release anything, but you can see our documentation and our tests (we are using test driven development).
