%p
  When I first started learning about muscles in school, I learned the
  major names for muscles: Quadriceps, Biceps, Hamstrings, Calves, Abs,
  Pecs. These names are a simplification because they make it seem like
  there is only one muscle in these places, when actually these are
  names for groups of muscles. The muscles in our bodies form a complex
  overlapping, neighboring, and layered system of muscles. Do an image
  search for "quadriceps cross section", to see what I mean. There is an
  amazing array of muscles and tendons that are next to one another in
  the same area.

%p
  Having all of these tissues packed next to each other has interesting
  consequences: strong tissues can compensate for weak ones, tissues can
  adhere to one another forming what are called adhesions, they can rub
  or snap against each other, and, through tightness, they can limit the
  range of motion of one another. This creates a complex system of
  interrelations between different muscles. If one of your leg muscles
  gets stuck to another, it can start to atrophy as it no longer is
  supporting a load. This can further be compensated for by another
  nearby muscle taking over the job. Eventually, you lose (or never gain
  in the first place) the ability to activate a particular muscle with
  your brain, which is called poor motor control.

%p
  This problems can also be reversed. Adhesions can be broken up, you
  can build your muscle control for a particular muscle, you can stretch
  your muscles so they do not limit each other, and you can develop a
  training routine that makes sure your muscles get the individual
  attention they deserve.

%p
  Once I started to understand these concepts and work through these
  problems and interesting thing happened. I started realizing there
  were muscles that I did not know I had. An example of this was my
  #{link_to "serratus anterior muscles", "blog/add-on-habit-serratus-anterior-at-stop-lights/"}. 
  I started being able to activate or flex
  muscles in my body in ways I had never done before. This is especially
  empowering and interesting. When you see a new muscle sticking out
  from the bundle of muscles it becomes easier to understand how to
  train that muscle and how to treat the problems with it. I am not
  saying you need to look like a body builder, but as you go a little
  bit toward that, you will start to notice some muscles you see in
  those pictures.

%p
  Going down the path of improving your own body's bundles of muscles
  requires understanding this concept of the complex systems of your
  muscles. The more you learn about this subject, the more you can
  address problems, and improve your body's muscular system.
