%p==My #{link_to "Toastmasters", "http://www.toastmasters.org"} Club, #{link_to "Powerhouse Pros", "www.powerhousepros.com"}, has a section of the meeting called Observational Humor.  It is a chance to tell jokes about your observations throughout the meeting. I will give you the setup of the jokes and my monologue. Keep in mind that these jokes are meant to be funny and custom-tailored to the audience.

%h2 The set up

%ul
  %li One speaker, Bobby, quoted someone who said that you only need to do humor in public speaking if you want to get paid.
  %li Bobby also said you need to love your audience as a speaker
  %li In Bobby’s introduction he said that his Toastmaster Contest Trophies were “closeted”
  %li Our president and Toastmaster Emily provided a pop quiz as part of her theme about Multitasking

%h2 The monologue

%ol
  %li Opener: My mentor Bobby Williams says you only need to do observational humor if you want to get paid — a probably true statement paralleling a memorable quote from his speech, got good laughs
  %li I…. Just… Sorry [I am fake crying here]… I love you guys so much — callback to Bobby saying we need to love our audiences
  %li I also prepared a pop quiz for tonight’s meeting
  %li 1. True or false: Men are funnier than women
  %li 2. True or false: Humor can improve with practice. (That wasn’t funny, it was just a listening comprehension test
  %li 3. Performing two or more jokes at the same time can cause fatal results.
  %li — The quiz used similar structure to the quiz questions that all of the participants took.
