%p
  Stand up. Look down at your feet. How are your toes pointed? If they
  are pointed forward and equally spaced, congratulations, you have good
  foot posture. Unfortunately, most people do not have good foot posture
  because they got into the habit of not exercising their full ankle
  range of motion, and, over time, lost that full range of motion. To
  make up for that range of motion, your feet either bow in or
  outward. It is more common for them to bow outward. If you move your
  feet so your toes are forward, you might notice a slight discomfort in
  your ankles. If you get into the habit of keeping your toes pointed
  forward when standing, you will be able to rebuild your ankle range of
  motion and this discomfort will go away and you can reap the benefits
  of having a powerful posture.

%p
  At first, this will feel like a chore because you have to constantly
  correct yourself, but you will eventually find yourself doing it
  totally automatically without noticing. This is the way it is with
  most body movements and postures, you have to focus on doing it right
  every time and eventually it becomes your habit. Your body can do it
  totally on autopilot.

%p
  Here are some places you can watch your posture:

%ul
  %li At a sink
  %li In the shower
  %li In front of the refrigerator
  %li In a checkout or order line
  %li At a urinal (if you use those)

%p
  I think correcting yourself in a few places consistently will fix your
  foot posture in all places. Having your toes forward will become the
  new normal.

%p
  Having your toes pointed forward as your default foot posture is very
  helpful for your overall posture. It keeps your hips nicely aligned
  with your pelvis, and it reduces the force caving in (pronating) or
  bowing out (supinating) the bottoms of your feet. Also, having a good
  ankle range of motion will keep your ankle muscles strong and make it
  easier for you to walk with good form. Lots of benefits accrue from a
  small change consistently applied to your body.

%p
  Overall, proper posture is very important for making sure your body
  has the lowest chance of injury and that you can generate the most
  force or strength your body is capable of. Make the change today and
  start feeling yourself on your way to unlocking your posture power!
