%p
  I came up with an idea for a "for profit" education system when I was arguing with a friend about where a libertarian view of the world would take us in 100 years. I'm not sure if this idea is a great idea, but I think it's an idea that you really have to try out to see if it will work. No amount of speculation or thought experiments will tell you the results of this. Even if education "experts" were to swear back and forth to me that this is the dumbest idea ever I'd still want to try it when I have the excess capital to do so. So here it goes:

%p
  At age 5-7, parents, or students themselves (in the case of an orphan) apply to go to my school. I would select from the applicants who to let into the school. These school would operate like a boarding school: students would be fed meals, given housing, clothing, affection, and any other essentials necessary for survival. Neither the parents or the students would pay anything for the teaching or feeding or housing up front. Students would be taught through whatever method I and the teachers I hired found to be most efficient at the time. The reason we are motivated to teach the kids the best way possible is because of the strong incentives for creating very productive citizens.

%p
  Using the best knowledge I have of education so far, I would want to use an un-schooling technique for teaching these children. I would strongly facilitate and cultivate whatever activities they had interest in pursuing. The main reason I believe this technique will work is because people would pursue activities that they are passionate about. In the current modern school setting, this passion cultivation is minimal. Most courses are highly specified and do not cater to individual tastes. I believe that my program would create people who are passionate about their chosen interest/field and willing to work hard to further their knowledge in that field and its supporting activities.

%p
  In exchange for this housing, feeding, loving, and educating, I will ask that former students return a percentage of their gross revenue to school. These revenues would allow the school to continue operating for more students, and help return the investment made on that student. Profits made through this process would be the profits of the education company and its shareholders.

%p
  The legality of this contract is one of the largest up front issues I see. Students under the age of 18  (minors) cannot make a legal contract with a school that says they will pay a portion of their gross income to the school. This common law would make it difficult to have legal recourse against students who took the benefits of the school but they chose not to return their fair share. I think that if argued it a court it might be possible to win a case around this issue, and I also believe that students will, for the most part, honor their bargain as long as the school was  nice to them and taught them properly. This would be sure to make the schools be held more accountable to their treatment of the students, because if the students find out that they were treated poorly, or not taught in an acceptable way, then they would simply stop honoring their end of the deal.

%p
  What do you think about this system? What other issues does it have?
