-@title = 'Real Learning'
%h1=@title
published at Sat, 05 May 2007 02:42:00 +0000

%p
  Developing the "secret project" that Alan and I are working on has been a lot of work. Throughout the project Alan has been saying "This is crazy." Which I tend to agree with him sometimes. We have been learning a lot through the project and also accomplishing our goals a lot too. Here's what we've been learning. (By learning I mean, actually learning it, not the crap they do at Universities)<br /><br />* BNF Grammar<br />* Recursive Descent Parsing<br />* Ruby Module Programming<br />* Data structures<br />* Behaviorally driven development<br /><br />All of these are leading us to be better programmers and letting us learn a lot. Also the end product should be a lot of fun when we get it done.
