-@layout = false

<?xml version="1.0" encoding="UTF-8"?>
%rss{:version=>"2.0", "xmlns:atom"=>"http://www.w3.org/2005/Atom"}
  %channel
    %link http://www.ryantm.com/blog/
    %atom:link{:type=>"application/rss+xml", :href=>"http://www.ryantm.com/blog/rss.xml", :rel=>"self"}
    %title Ryan Mulligan
    %description Ryan's personal blog about getting better at everything.
    %language en-us
    -model('post').each do |post|
      -link = "http://www.ryantm.com/blog/" + post['path']
      %item
        %pubDate=post['pubDate']
        %guid=link
        %link=link
        %comments=link + "#comments"
        %author=post['author']
        %title=post['title']
        %description==<![CDATA[#{render :partial=>"pages/blog/#{post['path']}", :locals=>{:view=>:rss}}]]>
