-@title = 'Vote Ron Paul Today'
%h1=@title
published at Tue, 05 Feb 2008 11:29:00 +0000

.right
  <img style="margin: 0pt 10px 10px 0pt; float: left; cursor: pointer;" src="http://bp3.blogger.com/_kIdEgOAP3dM/R6hI8oQDkHI/AAAAAAAAAAs/NEwUzVgG9SY/s400/images.jpeg" alt="" id="BLOGGER_PHOTO_ID_5163457179214385266" border="0" />

%p
  Today is super Tuesday. Please go out and show your support for the ideals of Ron Paul.<br /><ul><li>Limited Government</li><li>Mind your own business foreign policy</li><li>Sound spending</li><li>Follow the constitution</li></ul><ol><li><a href="http://seeronpaul.com">http://seeronpaul.com</a></li><li><a href="http://knowbeforeyouvote.com/">http://knowbeforeyouvote.com</a></li><li><a href="http://ronpaul2008.com">http://ronpaul2008.com</a></li></ol>Get up and VOTE NOW, for Ron Paul and all of his delegates.
