.right
  <img style="margin: 0pt 10px 10px 0pt; float: left; cursor: pointer;" src="http://bp3.blogger.com/_kIdEgOAP3dM/R6hI8oQDkHI/AAAAAAAAAAs/NEwUzVgG9SY/s400/images.jpeg" alt="" id="BLOGGER_PHOTO_ID_5163457179214385266" border="0" />

%p
  Today is super Tuesday. Please go out and show your support for the ideals of Ron Paul.<br /><ul><li>Limited Government</li><li>Mind your own business foreign policy</li><li>Sound spending</li><li>Follow the constitution</li></ul>Get up and VOTE NOW, for Ron Paul and all of his delegates.
