.right
  =image_tag "ron_paul.jpeg"

%p
  Today is super Tuesday. Please go out and show your support for the ideals of Ron Paul.

%ul
  %li Limited Government
  %li Mind your own business foreign policy
  %li Sound spending
  %li Follow the constitution

%p
  Get up and VOTE NOW, for Ron Paul and all of his delegates.
