%p When I want to make something garlicy, I usually try to sauté it in a pan. Unfortunately, when I add olive oil and garlic cloves or minced garlic. It usually ends up burning up and making a nasty mess. The key to sautéing garlic in oil is to use a low flame and cook for longer. It should be hot enough that there is just a hint of bubbling but no more.
