-@title = 'Campus Assassins in USA Today'
%h1=@title
published at Wed, 25 Apr 2007 05:16:00 +0000

%p
  My website <a href="http://www.campusassassins.com">http://www.campusassassins.com</a> is featured in this <a href="http://www.usatoday.com/news/education/2007-04-24-student-assassin-game_N.htm">USA Today Article</a>. Hopefully my quotation in it is correct:<br />"""<br /><br />"I hope it's just a localized anomaly," [I] said. "I don't think it will affect things in the long run. But definitely people will have to re-evaluate how they play the game."<br /><br />"""<br /><br />Our site uses Ruby on Rails.
