-@title = 'Linux Webcams at Best Buy'
%h1=@title
published at 15 Sep 2008

%p
  Want to buy a web-cam sold at Best Buy that works on Linux by default? I've already done the leg work for you. I bought most of the web-cams that Best Buy sells and tested them on my Ubuntu 8.04 (Hardy Heron) installation.

%p
  One surprising constraint I learned is that the web-cam needs to be a low enough resolution for it work. One web-cam had a capture resolution of 1280x1024 but it was quite choppy at this resolution. I wasn't able to reduce the capture resolution easily so this web-cam was effectively too good for my computer.


%table
  %tr
    %th Name
    %th Works out of box
    %th Resolution
    %th Choppy
  %tr
    %td Creative Live Cam Pro
    %td No
  %tr
    %td Dynex
    %td Yes
    %td 1280 x 1024
    %td Yes
  %tr{:style=>"background-color: #98fc66;"}
    %td Creative Other One
    %td Yes
    %td 800x600
    %td No


%p
  Some people say you should patch your kernel with modules to get your web-cams to work. I say don't buy web-cams that don't work out of the box. If you buy a product that doesn't work out of the box, return it! When you return it you are voting with your money for web-cams that work out of the box.

