-@title = 'Muding Website'
%h1=@title
published at Thu, 17 May 2007 16:10:00 +0000

%p
  I'd like to announce that there is a website for the MU* framework I'm building. The website is <a href="http://quarkmud.com">QuarkMUD.com</a>. We aren't quite ready to release anything, but you can see our documentation and our tests (we are using test driven development).
