-@title = 'Official IRC for MUDs'
%h1=@title
published at Sun, 24 Jun 2007 23:32:00 +0000

%p
  The MUD IRC room is a great place to network. Many informed MUDers gather there to discuss MUD design, play, and implementation. The official IRC chat for MUDs is<br /><br /><pre><br />#mud @ irc.freenode.net<br /></pre><br /><br />This IRC is also for MU*s of any kind.<br /><br />If you aren't familiar with IRC here is an easy way to get started:<br /><br />go to <a href="http://ircatwork.com">http://ircatwork.com/</a><br /><br />Fill in the fields like this:<br /><br /><pre><br />Nickname: YourNameHere<br />Server:   irc.freenode.net<br />Channel   #mud<br /></pre><br />then click "Login".<br /><br />This will open a connection. You now can chat!<br />My nickname is RyanTM. Type something like :<br /><br />"RyanTM: Hello sir"<br /><br />And I'll try to respond quickly to you.
