-@title = 'Orson Wells narrates a Cartoon'
%h1=@title
published at Thu, 21 Jun 2007 03:06:00 +0000

%p
  <object width="425" height="350"><param name="movie" value="http://www.youtube.com/v/ABKLirW24LE"></param><param name="wmode" value="transparent"></param><embed src="http://www.youtube.com/v/ABKLirW24LE" type="application/x-shockwave-flash" wmode="transparent" width="425" height="350"></embed></object>
