%h1=link_to "Blog Archives", "/blog/archives"

-ymonth = nil
-year   = nil

-model('post').each do |post|
  -# group events by month by only writing the header only when it changes.
  -if  ymonth != post['pubDate'].month or year != post['pubDate'].year
    %h3
      -ymonth = post['pubDate'].month
      -year = post['pubDate'].year
      =post['pubDate'].strftime("%B %Y")
  .entry-line-item
    =post['pubDate'].strftime("%d %b")
    =link_to post['title'], "blog/#{post['path']}/"

