-@title = "401 W Washington"
-@tags = ["401 W Washington St","Ryan Mulligan"]
%h1=@title
%p
  401 W Washington is located in Urbana, Illinois. It is a bungalow with loft and wood flooring. It is a 10 minute walk from the Quad of the
  ="#{link "University&nbsp;of&nbsp;Illinois&nbsp;at&nbsp;Urbana-Champaign","http://www.illinois.edu"}."
  Carle park&mdash;featuring children's playgrounds, a volleyball court, and a soccer field&mdash;is a half minute walk to the east.

%p
  == <iframe width="600" height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;hl=en&amp;geocode=&amp;q=401+W+Washington+St,+Urbana,+IL+61801&amp;sll=40.105493,-88.212222&amp;sspn=0.003151,0.005654&amp;ie=UTF8&amp;z=14&amp;iwloc=addr&amp;om=1&amp;ll=40.113395,-88.207941&amp;output=embed&amp;s=AARTsJq0ThyIHvpT2_jp_CFLKHOdxmRSsw"></iframe><br /><small><a href="http://maps.google.com/maps?f=q&amp;hl=en&amp;geocode=&amp;q=401+W+Washington+St,+Urbana,+IL+61801&amp;sll=40.105493,-88.212222&amp;sspn=0.003151,0.005654&amp;ie=UTF8&amp;z=14&amp;iwloc=addr&amp;om=1&amp;ll=40.113395,-88.207941&amp;source=embed" style="color:#0000FF;text-align:left">View Larger Map</a></small>

%h3 Ammenities
%ul
  %li Fully Furnished
  %li Air Conditioning and Furnace
  %li Dishwasher, Gas Range with Oven, Microwave, Refridgerator
  %li Cookware, Silverware, Flatware
  %li Clothes Washer and Dryer
  %li Television for Movies and Videogames
  %li Wireless Internet
  %li Public Computer
  %li Porch
  %li Fireplace
  %li External Garage for Bicycle Storage
  %li Plenty of Basement Storage Space
  %li Dehumidifier

%h3 Rooms
%ul
  %li 4 Bedrooms (one is a loft)
  %li 1.5 Bathrooms
  %li Kitchen
  %li Mudroom
  %li Family Room
  %li Dining Room
  %li Large Basement

%h3 Photos
%p#photos
  =img 'streetsign.jpg'
  =img 'northside.jpg'
  =img 'eastside.jpg'
  =img 'garage.jpg'
  =img 'grill.jpg'
  =img 'spiralstaircase.jpg'
%p
  More interior pictures are on their way.

%h3 Rent
%p
  ==Please ask #{link "Ryan Mulligan","/contact.html"} for pricing.

%h3 Availability
%p
  2 bedrooms are available for lease starting 1 June 2008.

%h3 Contact and Tours
%p
  Tours are available by appointment.
  For more information call me (1-630-253-4900) or email at  
  = "#{link "ryan@ryantm.com","mailto:ryan@ryantm.com"}."
