-@fulltitle = "Ryan Mulligan's Contact Information"
-@tags = ["Contact","Ryan Mulligan"]
%h1=@fulltitle
%style
  :sass
    .contact
      th
        :text-align right
        :padding-right 1em
      td
        :text-align left

%table.contact
  %tr
    %th
      Email
    %td
      =email
  %tr
    %th
      Phone
    %td
      +1 630 253 4900
  %tr
    %th
      Mail
    %td
      %address
        974 Ashford Hollow Avenue Henderson, Nevada 89012
  %tr
    %th
      Facebook
    %td
      =link_to "Ryan Mulligan's Facebook Profile", "http://www.facebook.com/RyanTMulligan"
  %tr
    %th
      Twitter
    %td
      =link_to "Ryan Mulligan's Twitter Profile", "http://www.twitter.com/ryantm"
  %tr
    %th
      Skype
    %td
      RyanTMulligan
  %tr
    %th
      Secure
    %td
      =link_to "RSA Public Key", "id_rsa.pub"