-@fulltitle = "Ryan Mulligan's Contact Information"
-@tags = ["Contact","Ryan Mulligan"]
%h1=@fulltitle
%table
  %tr
    %th
      Email
    %td
      %a{:href=>"mailto:&#114;y&#97;&#110;&#64;&#114;&#121;a&#110;&#116;&#109;&#46;&#99;&#111;&#109;"} &#114;y&#97;&#110;&#64;&#114;&#121;a&#110;&#116;&#109;&#46;&#99;&#111;&#109;
  %tr
    %th
      Phone
    %td
      +1 630 253 4900
  %tr
    %th
      Mail
    %td
      %address
        401 W. Washington St, Urbana, Illinois 61801, USA
  %tr
    %th
      Facebook
    %td
      =link "My Facebook Profile", "http://www.facebook.com/p/Ryan_Thomas_Mulligan/1909789"

  %tr
    %th
      LinkedIn
    %td
      =link "My LinkedIn Profile", "http://www.linkedin.com/pub/2/817/508"

  %tr
    %th
      Twitter
    %td
      =link "My Tweets", "http://www.twitter.com/ryantmulligan"

  %tr
    %th
      Visit Me
    %td
      =link "Map to 401 W. Washington St", "http://maps.google.com/maps?oi=map&q=401+W+Washington+St,+Urbana,+IL+61801&ie=UTF8&hl=en&ll=40.112214,-88.208199&spn=0.190361,0.249596&om=1"

  %tr
    %th
      Coords
    %td
      88.208199&deg;West by 40.112214&deg;North

  %tr
    %th
      Google Talk
    %td
      ryan@ryantm.com
  %tr
    %th
      Secure
    %td
      =link "RSA Public Key", "id_rsa.pub"

