-@fulltitle = "Ryan Mulligan's Contact Information"
-@tags = ["Contact","Ryan Mulligan"]
%h1=@fulltitle
%style
  :sass
    .contact
      th
        :text-align right
        :padding-right 1em
      td
        :text-align left

%table.contact
  %tr
    %th
      Email
    %td
      %a{:href=>"mailto:&#114;y&#97;&#110;&#64;&#114;&#121;a&#110;&#116;&#109;&#46;&#99;&#111;&#109;"} &#114;y&#97;&#110;&#64;&#114;&#121;a&#110;&#116;&#109;&#46;&#99;&#111;&#109;
  %tr
    %th
      Phone
    %td
      +1 630 253 4900
  %tr
    %th
      Mail
    %td
      %address
        4475 Jimmy Durante BLV, Apt 286 Las Vegas, Nevada 89122
  %tr
    %th
      Facebook
    %td
      =link_to "Ryan Mulligan's Facebook Profile", "http://www.facebook.com/p/Ryan_Thomas_Mulligan/1909789"

  %tr
    %th
      LinkedIn
    %td
      =link_to "Ryan Mulligan's LinkedIn Profile", "http://www.linkedin.com/pub/2/817/508"

  %tr
    %th
      Twitter
    %td
      =link_to "Ryan Mulligan's Twitter Profile", "http://www.twitter.com/ryantmulligan"

  %tr
    %th
      Google Talk
    %td
      &#114;y&#97;&#110;&#64;&#114;&#121;a&#110;&#116;&#109;&#46;&#99;&#111;&#109;
  %tr
    %th
      Secure
    %td
      =link_to "RSA Public Key", "id_rsa.pub"