-@title = "GenericToString.java"
-@tags = ["Mao","Card Game"]
%h1=@title

%p GenericToString is a utility that Java should have inside the standard library. You can call it on objects by "GenericToString.genericToString(obj);" and it will return a string that contains all of the fields of the object, found by reflection. The output of it is modeled after Kernel#inspect in Ruby.

%p=link_to "download link", "GenericToString.java"

%pre=File.read(File.join(SITE_DIR, "GenericToString.java"))

%p=link_to "download link", "GenericToString.java"
