-@fulltitle = "Ryan Mulligan"

%p
  Hello. My name is Ryan Mulligan, and I work as an engineer at
  #{link_to "Pololu", "https://www.pololu.com"} in Las Vegas, Nevada. I
  email from #{email}, and I tweet from
  #{link_to "@ryantm", "https://www.twitter.com/ryantm"}.
  I publish code on #{link_to "GitHub", "https://github.com/ryantm/"}.

%h2 Blog
%ul
  %li=link_to "Articles", "blog/archives/"

%h2 Philosophy
%ul
  %li=link_to "Placism", "placism.html"

%h2 Hardware
%ul
  %li=link_to "Vizio CT15-A5", "vizio-ct15-a5/"

%h2 Games
%ul
  %li=link_to "Mao", "mao.html"
  %li=link_to "No Eights", "noeights.html"
  %li=link_to "Pool Strife", "strife.html"
