-@fulltitle = "Ryan Mulligan"

%p 
  I am an engineer at #{link_to "Pololu", "http://www.pololu.com"}.

%p
  I email from #{email} and I tweet from #{link_to "@ryantm", "http://www.twitter.com/ryantm"}.