-@fulltitle = "Ryan Mulligan"

%p 
  Hello. My name is Ryan Mulligan. I am currently working as an engineer at #{link "Pololu Robotics and Electronics", "http://www.pololu.com"}. I have not updated my blog a few years but it has some decent posts you can check out.
