-@title = "Ryan Mulligan's Webpage"
-@tags = ["RyanTM", "Biography"]

%h1 Everyday Skepticism
%p
  ==My name is Ryan Mulligan, and I am #{link_to "skeptical","http://en.wikipedia.org/wiki/Philosophical_skepticism"} about the world. I try to apply my skepticism to every day habits and beliefs with the hope of uncovering unconscious bad habits. Below are a list of investigations I have engaged in.
%p
  Some of my investigations have led to new habits. When this is the case, the investigation is filed under the <b>Habits</b> heading.

%p
  ==When I discover something new about these areas I will post updates in my #{link_to"blog", "/blog/"} and update appropriate sections of this website.

%h2 Habits

%h3 Caffeine Free
%p
  

%h3 Barefoot walking/running

=link_to "No Shoes for 6 Months", "http://www.ryantm.com/blog/2008/02/04/no-shoes-for-6-months/"

%h3 Vegetarianism


%h2 Investigations

%h3 Office Ergonomics

%h3 Monetary Systems
