-@fulltitle = "Ryan Mulligan"

.right
  -require 'digest/md5'
  =image_tag "http://www.gravatar.com/avatar/#{Digest::MD5.hexdigest("ryan@ryantm.com")}?s=150", :alt=>"Ryan Mulligan"
%p
  The purpose of this website is for me to get better at writing. I think that effective writing is a crucial element in leadership. The better you write, the more easily you can convince others to follow your lead. This blog serves as an outlet for my practicing of writing.

%p
  ==Take a moment to read what I have to say in #{link_to "my blog", "/blog"}.