-@title = "No Eights, A Card Game"
-@tags = ["No Eights","Card Game"]
%h1=@title
%p This is a card game in which the eights are removed, hence the name. It is a game of memory and deduction.
%h3 Terminology
%ul
  %li Major Chord : 9 through Ace of a single suit (there are 4 majors in a deck)
  %li Minor Chord : 2 through 7 of a single suit (there are 4 minors in a deck)
  %li Play a Chord : to score points for your team by playing an entire chord
  %li Ask : to ask a player of the other team for a specific card (suit and rank)
  %li Note : a card on a specific Chord (To ask for a note in a chord you must have another note in the chord)
  %li War : a stretch of asks that go back and forth between two players
  %li Sandbagging : to not engage in a war for a chord even though you have a Note in it
  %li Bust : when a player tries to down a Chord that the other team has a Note in
  %li Out : to run out of cards even though the game is not over
  %li Reveal your suit : if you only have one card left it's very easy for someone to remember what Note you have so when you ask, having only one card you reveal your suit
%h3 Setup
%p Remove the eights and jokers from the game. The game requires either 6 or 8 players. Every other person is on your team, in other words the people directly next to you are always on the opposing team. All the cards are dealt out evenly. A player may look at the cards in his or her hand.

%h3 Goal
%p To be one the team that has scored the most points after all the majors and minors have been downed.

%h3 Gameplay
%p The player to the left of the dealer gets to ask first. An ask consists of asking a player of the opposite team for a card that is part of a Chord for which you have a Note. It is VERY important to make sure you have a Note, otherwise this ruins the game (A lot of newbies make this mistake so be sure to make it clear to them). If the person you ask has the card, they must give it to you. If they do not it is their turn.

%h3 Playing
%p When it is your turn, you may also Play a Chord. To do this you must know where all of the Notes of the Chord are and all Notes must be in the hands of your teamates or yourself. If the other team is in possession of a Note they bust you. If you try to play a Chord but do not know where all the notes are you have played it incorrectly.

%h3 Scoring
%ul
  %li Playing a Major Chord: 2 points
  %li Playing a Minor Chord: 1 point
  %li Incorrectly playing a Major Chord: 0 points
  %li Incorrectly playing a Minor Chord: 0 points
  %li Busted while playing a Major Chord: -2 points
  %li Busted while playing a Minor Chord: -1 points

