-@title = "Polyphasic"
-@tags  = ["RyanTM", "Polyphasic"]
%h2
  Polyphasic Sleep Log
%p
  On 18 December 2007, I officially started polyphasically sleeping. My schedule will be as follows:
%p
  25 minute naps at
%ul
  %li 1
  %li 5
  %li 9
  %li 13
  %li 17
  %li 21
%p
  I will sleep this way until <b>18 February 2007,</b>, and then evaluate if I want to continue it. As I go forward with this experiment, I will post the results here.
%ul
  %li=link "Day One", "polyphasic/day-one.html"
  %li=link "Day Two", "polyphasic/day-two.html"