-@layout="resume"
#banner
  .left
    %h1 Ryan Mulligan
    %h2
      %a{:href=>"mailto:ryan@ryantm.com"}ryan@ryantm.com
  .right
    %a{:href=>"http://www.ryantm.com"}Ryan Mulligan's Website
    %br/
    +1 630 253 4900
    %address
      401 W. Washington Street
      %br/
      Urbana, Illinois 61801
  .clear

%h2 Objective
%hr/
.item
  .dates
  .info
    To increase the efficiency of people and organizations.

%h2 Education
%hr/
.item
  .dates
    Graduated December 2007
  .info
    University of Illinois at Urbana-Champaign (UIUC)
    %br/
    B.S. in <strong>General Engineering</strong> with Highest Honors,
    %br/
    Concentration in <strong>Operations Research</strong>
    %br/
    and Minor in <strong>Mathematics</strong>
    %br/
    GPA: 3.91/4.0


%h2 Skills
%hr/
.item
  .dates
  .info
    %b Web
    (XHTML, CSS, CGI, Javascript, Rails, Linux, Apache, Postfix)
.item
  .dates
  .info
    %b Programming
    (Visual Basic, C, C++, Java, BASH, Python, Ruby, Lisp, PHP, HaXe, Erlang, Javascript, swfmill, LaTeX, SQL, Mathematica)
.item
  .dates
  .info
    %b Version Control
    (CVS, SVN, Mercurial, Git)
.item
  .dates
  .info
    %b Finance
    (NPV, p&l, balance sheets)
.item
  .dates
  .info
    %b Marketing
    (Search Engine Optimization)
.item
  .dates
  .info
    %b Language
    (Spanish)
.item
  .dates
  .info
    %b Mathematics
    (calculus, differential, linear algebra, probability, statistics)
.item
  .dates
  .info
    %b Operations Research
    (stochastic, linear/non-linear programming, AMPL, scheduling, pricing)
.item
  .dates
  .info
    %b Control Systems
    (Analog, Digital, State Space)
.item
  .dates
  .info
    %b Mechanics
    (static, dynamic, material, thermodynamic, quantum, fluid)
.item
  .dates
  .info
    %b Computer Aided Drafting and Modeling
    (AutoCAD, Inventor)
.item
  .dates
  .info
    %b Electrical Engineering
    (analog circuit, signal analysis, embedded digital control systems)

%h2 Experience
%hr/
.item
  .dates
    Jan 08 &mdash; Present
  .info
    %h3
      President &mdash;
      -link = "http://funproductive.com"
      %a{:href=>link, :title=>link} Funproductive
    %ul
      %li==Created a #{link_to "Smash Bros. Brawl Screenshot Gallery", "http://www.brawlsnapshots.com"}, a website that hosts over 80,000 images, averaging 2,000 visitors per day for a popular Nintendo Wii Game
      %li==Programmed Adobe Flash to create a #{link_to "streaming voice/video server", "http://funproductive.com/crazytalk"} using HaXe to distribute real-time video to website visitors
.item
  .dates
    Aug 06 &mdash;  Present
  .info
    %h3
      President &mdash;
      Grayson Mulligan Inc.
    %ul
      %li
        Created an advanced
        -link = "http://www.replylater.com"
        %a{:href=>link, :title=>link} email reminder service
        with natural language parsing
      %li
        Created and managed a web based
        -link = "http://www.sassins.com"
        %a{:href=>link, :title=>link} assassins game hosting service
      %li
        Hosted games for over
        %b 1800 players from 3 different countries
.item
  .dates
    Aug 07  &mdash; Dec 07
  .info
    %h3
      Programmer &mdash;
      -link = "http://www.patterninsight.com"
      %a{:href=>link, :title=>link} Pattern Insight
    %ul
      %li Created web interface to Pattern Insight's sophisticated code duplication analysis tools
      %li Developed services in a distributed service architecture to help scale to billions of lines of code
      %li Programmed Java Servlet Pages using model-view-controller paradigm
.item
  .dates
    Aug 07  &mdash; Dec 07
  .info
    %h3
      Independent Contractor &mdash;
      -link = "http://honeywell.com"
      %a{:href=>link, :title=>link} Honeywell International
    %ul
      %li
        Designed comprehensive plan to bring Department of Transportation bottle retesting in house to Danville Works Facility saving
        %b $451,381 per year
.item
  .dates
    May 07  &mdash; Aug 07
  .info
    %h3
      Quality Engineer (Intern)  &mdash;
      -link = "http://cat.com"
      %a{:href=>link, :title=>link} Caterpillar Inc.
    %ul
      %li Programed tools in Microsoft Visual Basic freeing 10 man hours per week
      %li Led initiative to clean paint line, resulting in 20% reduction of operator foot travel in masking section
.item
  .dates
    May 06  &mdash; Aug 06
  .info
    %h3
      Manufacturing Engineer (Intern)  &mdash;
      -link = "http://cat.com"
      %a{:href=>link, :title=>link} Caterpillar Inc.
    %ul
      %li Planned, and implemented entirely new assembly process for Medium Wheel Loader axles
      %li Acted in the capacity of senior manufacturing specialist in the absence of one
.item
  .dates
    Feb 05  &mdash; Aug 05
  .info
    %h3
      Branch Manager  &mdash;
      -link = "http://collegeworkspainting.com"
      %a{:href=>link, :title=>link} College Works Painting
    %ul
      %li
        Created, developed, and managed an exterior painting business grossing
        %b $60,321
      %li Learned marketing, sales, management, leadership and self-awareness
.item
  .dates
    Aug 04 &mdash;  Aug 06
  .info
    %h3
      Math Mentor  &mdash;
      -link = "http://www.netmath.uiuc.edu"
      %a{:href=>link, :title=>link} UIUC NetMath
    %ul
      %li
        Mentored twenty five students resulting in their completion of calculus, differential equations, and linear algebra


%h2 Leadership Experience
%hr/
.item
  .dates
    Aug 05 &mdash; Aug 07
  .info
    %h3 Treasurer of the Honors Student Council Student Organization
    %ul
      %li Balanced budgets and forecasted finances leading to improved financial organization
.item
  .dates
    Aug 04 &mdash; Aug 05
  .info
    %h3 Member of the Honors Student Council Student Organization
    %ul
      %li Organized several weekly events, including an Assassins game with over 30 players
      %li Provided weekly feedback and ideas at meetings

%h2 Awards
%hr/
.item
  .dates
    Spring 07
  .info
    -link="http://media.www.dailyillini.com/media/storage/paper736/news/2007/04/16/News/Google.Games.Combine.Fun.With.Opportunity-2843098.shtml"
    %a{:href=>link, :title=>link} 1st place team, Google Games Competition, UIUC
.item
  .dates
    Apr 06 &mdash; Present
  .info
    -link="http://tbp.org"
    %a{:href=>link, :title=>link} Tau Beta Pi
.item
  .dates
    Aug 04 &mdash; Dec 07
  .info
    -link="http://www.engr.uiuc.edu/Academic/hand/hbook96.rules.html#dean"
    %a{:href=>link, :title=>link} Dean's List (all semesters)
.item
  .dates
    Aug 04 &mdash; Dec 07
  .info
    -link="http://www.honors.uiuc.edu/?q=about"
    %a{:href=>link, :title=>link} Chancellor's Scholar


.footer