-@layout="resume"
#banner
  .left
    %h1 Ryan Mulligan
    %h2
      %a{:href=>"mailto:ryan@ryantm.com"}ryan@ryantm.com
  .right
    %a{:href=>"http://www.ryantm.com"}Ryan Mulligan's Website
    %br/
    +1 630 253 4900
    %address
      974 Ashford Hollow Ave
      %br/
      Henderson, Nevada 89012
  .clear

%h2 Objective
%hr/
.item
  .dates
  .info
    To increase the efficiency of people and organizations.

%h2 Education
%hr/
.item
  .dates
    Graduated December 2007
  .info
    University of Illinois at Urbana-Champaign
    %br/
    B.S. in <strong>General Engineering</strong> with Highest Honors,
    %br/
    Concentration in <strong>Operations Research</strong>
    %br/
    and Minor in <strong>Mathematics</strong>
    %br/
    GPA: 3.91/4.0


%h2 Skills
%hr/
.item
  .dates
  .info
    %b Web
    (HTML, CSS, Javascript, Rails, Linux, Postfix)
.item
  .dates
  .info
    %b Programming
    (Visual Basic, C, C++, C#, Java, Python, Ruby, PHP, HaXe, Erlang, Javascript, LaTeX, SQL, Mathematica)
.item
  .dates
  .info
    %b Version Control
    (git, gitolite, SVN)
.item
  .dates
  .info
    %b Finance
    (NPV, p&l, balance sheets)
.item
  .dates
  .info
    %b Marketing
    (search engine optimization)
.item
  .dates
  .info
    %b Manufacturing
    (pick and place, laser cutting, injection molding, 3D printing)
.item
  .dates
  .info
    %b Language
    (English)
.item
  .dates
  .info
    %b Mathematics
    (calculus, differential, linear algebra, probability, statistics)
.item
  .dates
  .info
    %b Operations Research
    (stochastic, linear/non-linear programming, AMPL, scheduling, pricing)
.item
  .dates
  .info
    %b Control Systems
    (analog, digital, state space)
.item
  .dates
  .info
    %b Mechanics
    (static, dynamic, material, thermodynamic, quantum, fluid)
.item
  .dates
  .info
    %b Computer Aided Drafting and Modeling
    (AutoCAD, Inventor)
.item
  .dates
  .info
    %b Electrical Engineering
    (analog circuits, signal analysis, embedded digital control systems, PCB testing)
.item
  .dates
  .info
    %b Photography
    (product photography)

%h2 Experience
%hr/
.item
  .dates 
    Nov 08 &mdash; Present
  .info
    %h3
      Systems Engineer &mdash;
      =link_to "Pololu Corporation", "http://www.pololu.com"
    %ul
      %li
        Added wish lists to Pololu's online store
      %li
        Built electrical testing devices for motor drivers with powers exceeding 15 amps and 50 volts
      %li
        Improved Pololu's enterprise resource planning software to detect inventory accounting inaccuracies
      %li
        Reduced inaccuracies in inventory accounting from 183 to 0
      %li
        Photographed hundreds of products for sale on Pololu's website
.item
  .dates
    Aug 06 &mdash; Present
  .info
    %h3
      President &mdash;
      Grayson Mulligan Incorporated
    %ul
      %li
        Created and managed a web based
        -link = "http://www.sassins.com"
        ==#{link_to "assassins game hosting service", link};
        hosting games for over <b>1800 players from 3 different countries</b>
      %li==Created a Smash Bros. Brawl Screenshot Gallery website that hosts over 120,000 images, averaging 2,000 visitors per day for a popular Nintendo Wii game
      %li==Programmed Adobe Flash to create a streaming voice/video server using HaXe to distribute real-time video to website visitors
      %li
        Created an
        -link = "http://www.replylater.com"
        %a{:href=>link, :title=>link} email reminder service
.item
  .dates
    Aug 07  &mdash; Dec 07
  .info
    %h3
      Programmer &mdash;
      -link = "http://www.patterninsight.com"
      %a{:href=>link, :title=>link} Pattern Insight
    %ul
      %li Created web interface to Pattern Insight's sophisticated code duplication analysis tools
      %li Developed services in a distributed service architecture to help scale to billions of lines of code
      %li Programmed Java Servlet Pages using model-view-controller paradigm
.item
  .dates
    Aug 07  &mdash; Dec 07
  .info
    %h3
      Independent Contractor &mdash;
      -link = "http://honeywell.com"
      %a{:href=>link, :title=>link} Honeywell International
    %ul
      %li
        Designed comprehensive plan to bring Department of Transportation bottle retesting in house to Danville Works Facility saving
        %b $451,381 per year
.item
  .dates
    May 07  &mdash; Aug 07
  .info
    %h3
      Quality Engineer (Intern)  &mdash;
      -link = "http://cat.com"
      %a{:href=>link, :title=>link} Caterpillar Inc.
    %ul
      %li Programed tools in Microsoft Visual Basic freeing 10 man hours per week
      %li Led initiative to clean paint line, resulting in 20% reduction of operator foot travel in masking section
.item
  .dates
    May 06  &mdash; Aug 06
  .info
    %h3
      Manufacturing Engineer (Intern)  &mdash;
      -link = "http://cat.com"
      %a{:href=>link, :title=>link} Caterpillar Inc.
    %ul
      %li Planned, and implemented entirely new assembly process for Medium Wheel Loader axles
      %li Acted in the capacity of senior manufacturing specialist in the absence of one
.item
  .dates
    Feb 05  &mdash; Aug 05
  .info
    %h3
      Branch Manager  &mdash;
      -link = "http://collegeworkspainting.com"
      %a{:href=>link, :title=>link} College Works Painting
    %ul
      %li
        Created, developed, and managed an exterior painting business grossing
        %b $60,321
      %li Learned marketing, sales, management, leadership and self-awareness
.item
  .dates
    Aug 04 &mdash;  Aug 06
  .info
    %h3
      Math Mentor  &mdash;
      -link = "http://www.netmath.uiuc.edu"
      %a{:href=>link, :title=>link} UIUC NetMath
    %ul
      %li
        Mentored twenty five students resulting in their completion of calculus, differential equations, and linear algebra


%h2 Leadership Experience
%hr/
.item
  .dates
    Aug 05 &mdash; Aug 07
  .info
    %h3 Treasurer of the Honors Student Council Student Organization
    %ul
      %li Balanced budgets and forecasted finances leading to improved financial organization
.item
  .dates
    Aug 04 &mdash; Aug 05
  .info
    %h3 Member of the Honors Student Council Student Organization
    %ul
      %li Organized several weekly events, including an Assassins game with over 30 players
      %li Provided weekly feedback and ideas at meetings

%h2 Awards
%hr/
.item
  .dates
    Spring 07
  .info
    -link="http://media.www.dailyillini.com/media/storage/paper736/news/2007/04/16/News/Google.Games.Combine.Fun.With.Opportunity-2843098.shtml"
    %a{:href=>link, :title=>link} 1st place team, Google Games Competition, UIUC
.item
  .dates
    Apr 06 &mdash; Present
  .info
    -link="http://tbp.org"
    %a{:href=>link, :title=>link} Tau Beta Pi
.item
  .dates
    Aug 04 &mdash; Dec 07
  .info
    -link="http://www.engr.uiuc.edu/Academic/hand/hbook96.rules.html#dean"
    %a{:href=>link, :title=>link} Dean's List (all semesters)
.item
  .dates
    Aug 04 &mdash; Dec 07
  .info
    -link="http://www.honors.uiuc.edu/?q=about"
    %a{:href=>link, :title=>link} Chancellor's Scholar

%h2 Leisure
%hr/
.item
  .dates
  .info
    Rock climbing
  .dates
  .info
    Cycling
  .dates
  .info
    Soccer
  .dates
  .info
    Toastmasters

.footer