-@title = "What is RSS?"
-@tags = ["RSS"]
%h1=@title
%p
  ==RSS stands for Really Simple Syndication. It is a tool for checking up on your favorite websites without actually going to them. If you get an RSS Reader like #{link "Google Reader", "http://reader.google.com"} then you can read updates from RyanTM.com without even visiting the site. This means you don't have to constantly come to RyanTM.com to check for updates, the updates will be brought to you automatically.

%p
  <a href="http://feeds.feedburner.com/RyanTM" title="Subscribe to my feed" rel="alternate" type="application/rss+xml"></a><a href="http://feeds.feedburner.com/RyanTM" title="Subscribe to my feed" rel="alternate" type="application/rss+xml">Subscribe to my Blog in a reader.</a>