Header append Vary host

<IfModule mod_rewrite.c>
  RewriteEngine on
  Options +FollowSymlinks

  RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ //?([^/]+/)*index\.html\ HTTP/
  RewriteRule ^(.*)index\.html$ /$1 [R=301,L]

  RewriteCond %{HTTP_HOST} ryantm.nfshost\.com$ [NC]
  RewriteRule ^.*$ http://www\.ryantm\.com%{REQUEST_URI} [R=301]

  #RewriteBase /blog/
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_URI} ^/blog/[[:digit:]]+/[[:digit:]]+/[[:digit:]]+/(.+)$
  RewriteRule . /blog/%1 [R=301]

  #RewriteBase /
  RewriteCond %{HTTP_HOST} rtm\.local$ [NC]
  RewriteCond %{HTTP_HOST} !^www\.rtm\.local$ [NC]
  RewriteRule ^.*$ http://www\.rtm\.local%{REQUEST_URI} [R=301,L]

  RewriteCond %{HTTP_HOST} ryantm\.com$ [NC]
  RewriteCond %{HTTP_HOST} !^www\.ryantm\.com$ [NC]
  RewriteCond %{REQUEST_URI} !^/robots.txt$
  RewriteRule ^.*$ http://www\.ryantm\.com%{REQUEST_URI} [R=301,L]
</IfModule>