body {
  background: #fff0a5;
  margin: 0;
  color: #8e2800;
  font: normal normal 100% Georgia, Serif;
  font-size: small;
  text-align: center; }

a:link, a:visted {
  color: #468966;
  text-decoration: none; }

a:hover {
  color: #8e2800;
  text-decoration: underline; }

a img {
  border-width: 0; }

#header {
  color: #8e2800; }

#header h1 {
  line-height: 1.2em;
  text-transform: uppercase;
  letter-spacing: .2em; }

#header a {
  color: #8e2800;
  text-decoration: none; }

#header a:hover {
  color: #468966; }

#header .description {
  max-width: 700px;
  text-transform: uppercase;
  letter-spacing: .2em;
  line-height: 1.4em;
  font: normal normal 100% Georgia, Serif;
  color: black; }

#outer-wrapper {
  padding: 10px;
  padding-top: 2px;
  text-align: left;
  font: normal normal 120% Georgia, Serif; }

#main-wrapper {
  margin-left: .5em;
  float: left;
  word-wrap: break-word;
  width: 80%;
  overflow: hidden; }

#sidebar-wrapper {
  width: 220px;
  float: left;
  word-wrap: break-word;
  overflow: hidden; }

h2 {
  margin: 1.5em 0 .75em;
  font: #468966;
  line-height: 1.4em;
  text-transform: uppercase;
  letter-spacing: .2em;
  color: #8e2800; }


h2.date-header {
  margin: 0 0 .5em; }

.post {
  margin: .5em 0 1.5em;
  border-bottom: 1px dotted;
  border-color: black;
  padding-bottom: 1.5em; }
  .post h3 {
    margin: .25em 0 0;
    padding: 0 0 4px;
    font-size: 140%;
    font-weight: normal;
    line-height: 1.4em;
    color: #8e2800; }
  .post h3 a, .post h3 a:visited, .post h3 strong {
    display: block;
    text-decoration: none;
    color: #468966;
    font-weight: normal; }
  .post h3 strong, .post h3 a:hover {
    color: #8e2800; }
  .post p {
    margin: 0 0 .75em;
    line-height: 1.6em; }
  .post img {
    padding: 4px;
    border: 1px solid;
    border-color: black; }
  .post pre {
    color: #112;
    padding: 10px;
    font-size: 1.1em;
    overflow: auto;
    margin-left: 1.5em; }
    .post pre .comment {
      color: #005;
      font-style: italic; }
    .post pre .keyword {
      color: #A00;
      font-weight: bold; }
    .post pre .method {
      color: #077; }
    .post pre .class {
      color: #074; }
    .post pre .module {
      color: #050; }
    .post pre .punct {
      color: #447;
      font-weight: bold; }
    .post pre .symbol {
      color: #099; }
    .post pre .string {
      color: #944;
      background: #f5e69b; }
    .post pre .char {
      color: #F07; }
    .post pre .ident {
      color: #004; }
    .post pre .constant {
      color: #07F; }
    .post pre .regex {
      color: #B66;
      background: #ffffb9; }
    .post pre .number {
      color: #F99; }
    .post pre .attribute {
      color: #5bb; }
    .post pre .global {
      color: #7FB; }
    .post pre .expr {
      color: #227; }
    .post pre .escape {
      color: #277; }
  .post blockquote {
    margin: 1em 3em; }
    .post blockquote p {
      margin: .75em 0; }

.post-footer {
  margin: .75em 0;
  color: black;
  text-transform: uppercase;
  letter-spacing: .1em;
  font: normal normal 100% Georgia, Serif;
  line-height: 1.4em; }

.comment-link {
  margin-left: .6em; }



  #comments h4 {
    margin: 1em 0;
    font-weight: bold;
    line-height: 1.4em;
    text-transform: uppercase;
    letter-spacing: .2em;
    color: #8e2800; }

#comments-block {
  margin: 1em 0 1.5em;
  line-height: 1.6em; }
  #comments-block .comment-author {
    margin: .5em 0; }
  #comments-block .comment-body {
    margin: .25em 0 0; }
    #comments-block .comment-body p {
      margin: 0 0 .75em; }
  #comments-block .comment-footer {
    margin: -.25em 0 2em;
    line-height: 1.4em;
    text-transform: uppercase;
    letter-spacing: .1em; }

.deleted-comment {
  font-style: italic; }

#blog-pager-newer-link {
  float: left; }

#blog-pager-older-link {
  float: right; }

#blog-pager {
  text-align: center; }

.feed-links {
  clear: both;
  line-height: 2.5em; }


.sidebar {
  color: #468966;
  line-height: 1.5em; }
  .sidebar ul {
    list-style: none;
    margin: 0 0 0;
    padding: 0 0 0; }
    .sidebar ul li {
      margin: 0;
      padding: 0 0 .25em 15px;
      text-indent: -15px;
      line-height: 1.5em; }

.sidebar .widget, .main .widget {
  border-bottom-color: black;
  margin: 0 0 1.5em;
  padding: 0 0 1.5em; }

.main .Blog {
  border-bottom-width: 0; }


.profile-img {
  float: left;
  margin: 0 5px 5px 0;
  padding: 4px;
  border: 1px solid;
  border-color: black; }

.profile-data {
  margin: 0;
  text-transform: uppercase;
  letter-spacing: .1em;
  font: normal normal 100% Georgia, Serif;
  color: #468966;
  font-weight: bold;
  line-height: 1.6em; }

.profile-datablock {
  margin: .5em 0 .5em; }

.profile-textblock {
  margin: 0.5em 0;
  line-height: 1.6em; }

.profile-link {
  font: normal normal 100% Georgia, Serif;
  text-transform: uppercase;
  letter-spacing: .1em; }


#footer {
  clear: both;
  padding-top: 15px;
  line-height: 1.6em;
  text-transform: uppercase;
  letter-spacing: .1em;
  text-align: center; }


  body#layout #header {
    margin-left: 0px;
    margin-right: 0px; }
