!!! STRICT
%html{:xmlns=>'http://www.w3.org/1999/xhtml', "xmlns:b"=>'http://www.google.com/2005/gml/b', "xmlns:data"=>'http://www.google.com/2005/gml/data',"xmlns:expr"=>'http://www.google.com/2005/gml/expr'}
  %head
    <b:include data='blog' name='all-head-content'/>
    %title 
      <data:blog.pageTitle/>
    %b:skin
      = Sass::Engine.new(File.read('blog/template.sass')).to_css
  %body
    #outer-wrapper
      #wrap2
        %span#skiplinks{:style=>'display:none;'}
          %a{:href=>'#main'} skip to main
          |
          %a{:href=>'#sidebar'} skip to sidebar
        #header-wrapper
          <b:section class='header' id='header' maxwidgets='1' showaddelement='no'>
          <b:widget id='Header1' locked='true' title='Ryan\u2122 (Header)' type='Header'/>
          </b:section>
        #content-wrapper
          #crosscol-wrapper{:style=>'text-align:center'}
            <b:section class='crosscol' id='crosscol' showaddelement='no'/>
        #sidebar-wrapper
          <b:section class='sidebar' id='sidebar' preferred='yes'>
          <b:widget id='AdSense1' locked='false' title='' type='AdSense'/>
          <b:widget id='BlogArchive1' locked='false' title='' type='BlogArchive'/>
          </b:section>
        #main-wrapper
          <b:section class='main' id='main' showaddelement='no'>
          <b:widget id='Blog1' locked='true' title='Blog Posts' type='Blog'/>
          </b:section>
        .clear &#160;
        #footer-wrapper
          <b:section class='footer' id='footer'/>
         