// Palette
=light-colors
  :background-color white
  :color black
  a
    :color #1e466d

img
  :display block

.left
  float: left

.right, .right-image
  float: right

html
  :height 100%
  :padding-top 1em

body
  +light-colors
  :font-size 25px
  :line-height 136%
  :height 100%

  h1,h2,h3,h4,h5,h6
    font-size: 110%
    font-family: sans-serif
    a
      font-family: sans-serif

  #sidebar
    padding-left: 1em
    position: absolute
    width: 10em
    height: 100%
    nav
      padding-left: 0em
      ul
        padding-left: 0.5em
      li
        list-style-type: none

  #content
    position: absolute
    left: 11em
    padding-bottom: 35em
    text-align: left
    width: 30em
    overflow: auto

    p,li,td,a
      font-family: georgia, 'alegreya','niharika', georgia, "times new roman", times, serif
      font-weight: normal
      font-style: normal

    h1,h2,h3,h4,h5,h6
      a
        font-family: sans-serif
    .left
      img
        :margin 0.75em 1em 1em 0
    table
      border-collapse: collapse
      :margin 0.5em 0
      td, th
        :padding 5px
        :border 1px solid
        :border-color #AAAAAA
        :text-align left
      th:first-child
        :text-align right

    ol, ul
      :padding-left 2em

    code, pre
      :margin 0.5em 0
      :overflow auto
      :font 1em 'Courier New', Courier, Fixed

    dl
      :margin 0.5em 0
      dt
        :font-weight bold
        :font-style italic
      dd
        :margin-left 1em
        :margin-bottom 0.5em

    .entry + .entry
      :padding-top 5em

    .right-image
      :margin 0.75em 0 1em 1em
      .inner-image
        :text-align center
        .attribution
          :font-size 80%
          :color gray

    .pub-date
      :font-weight bold
    .entry-line-item
      :padding 0.5em

    blockquote
      :border-left 2px solid gray

      :font-weight bold

      :margin 0.5em 0 0.5em 1em
      :padding 1em

      .attribution
        :float right