%a{:href=>"/",:title=>"Ryan Mulligan's homepage"}
  =image_tag "logo.png", :alt=>"Ryan Mulligan"
%h2 Links
%ul
  %li==#{link_to "Home", "/"}
  %li==#{link_to "Resume", "/resume.html"} (#{link_to "HTML","/resume.html"}, #{link_to "PDF", "/resume.pdf"})
  %li=link_to "Contact", "/contact.html"
  %li=link_to "Blog", "/blog"
  %li=link_to "Blog Archives", "/blog/archives"
%h2 Pages
%ul
  %li=link_to "401 W. Washington", "/401.html"
  %li=link_to "No Eights, A Card game",   "/noeights.html"
  %li=link_to "Mao, A Card Game",   "/mao.html"
  %li=link_to "Pool Strife", "/strife.html"
  %li=link_to "Generic To String", "/generic-to-string.html"
%h2 Subscribe
%ul
  %li=link_to "What is RSS?", "/what-is-rss.html"
  %li <a href="http://feeds.feedburner.com/RyanTM" title="Subscribe to my feed" rel="alternate" type="application/rss+xml"></a><a href="http://feeds.feedburner.com/RyanTM" title="Subscribe to my feed" rel="alternate" type="application/rss+xml">Subscribe in a reader</a>
  /
    %li <a href="http://www.bloglines.com/sub/http://feeds.feedburner.com/RyanTM" title="RyanTM" type="application/rss+xml"><img src="http://www.bloglines.com/images/sub_modern11.gif" alt="Subscribe in Bloglines" style="border:0"/></a>
    %li <a href="http://fusion.google.com/add?feedurl=http://feeds.feedburner.com/RyanTM"><img src="http://buttons.googlesyndication.com/fusion/add.gif" width="104" height="17" style="border:0" alt="Add to Google Reader or Homepage"/></a>
    %li <a href="http://www.newsgator.com/ngs/subscriber/subext.aspx?url=http://feeds.feedburner.com/RyanTM" title="RyanTM"><img src="http://www.newsgator.com/images/ngsub1.gif" alt="Subscribe in NewsGator Online" style="border:0"/></a>
    %li <a href="http://add.my.yahoo.com/rss?url=http://feeds.feedburner.com/RyanTM"><img src="http://us.i1.yimg.com/us.yimg.com/i/us/my/addtomyyahoo4.gif" alt="Add to My Yahoo!"/></a>
    %li <a href="http://my.msn.com/addtomymsn.armx?id=rss&amp;ut=http://feeds.feedburner.com/RyanTM&amp;ru=http://ryantm.com"><img src="http://sc.msn.com/44/G,UCH%7BZBSS3%7BOS%7BSE469LG.gif" alt="Add to My MSN!"/></a>

  %h3.subtitle
    &copy;
    =Time.now.year
    Ryan Mulligan