%head
  %meta{'http-equiv'=>"Content-Type", :content=>"text/html; charset=UTF-8"}/
  %meta{:name=>'description', :content=>"Ryan T Mulligan's personal website."}/
  %meta{:name=>"keywords", :content=>"Ryan Mulligan, Ryan, Mulligan, RyanTM"}/

  -if @fulltitle
    %title=@fulltitle
  -elsif @title
    %title==#{@title} - Ryan Mulligan
  -else
    %title Ryan Mulligan

  -#yubico
  %link{:rel=>"openid2.provider", :href=>"https://openid.yubico.com/server.php"}/
  %link{:rel=>"openid2.local_id", :href=>"https://openid.yubico.com/server.php/idpage?user=cccccccuvluk"}/

  -# myOpenID
    -#%link{:rel=>"openid.server", :href=>"http://www.myopenid.com/server"}/
    -#%link{:rel=>"openid.delegate", :href=>"http://ryantm.myopenid.com"}/
    -# maybe not neccessary? %meta{'http-equiv'=>"X-XRDS-Location",:content=>"http://www.myopenid.com/xrds?username=ryantm.myopenid.com"}/
  -rss_href = "http://feeds.feedburner.com/RyanTM"
  %link{:rel=>"alternate", :type=>"application/rss+xml", :title=>"Ryan Mulligan",:href=>rss_href}

  =stylesheet_link_tag "reset-fonts-grids"
  =stylesheet_link_tag "application"
