%head
  %meta{charset:"UTF-8"}
  %meta{name:'viewport', content:"width=device-width, initial-scale=1"}
  %meta{name:'description', content:"Ryan Mulligan's personal website."}

  -if @fulltitle
    %title=@fulltitle
  -elsif @title
    %title==#{@title}
  -else
    %title Ryan Mulligan

  %link{href:'https://openid.yubico.com/server.php', rel:'openid.server'}
  %link{href:'https://openid.yubico.com/server.php/idpage?user=ccccccbljrvr', rel:'openid.delegate'}

  %link{rel:'alternate', type:'application/rss+xml', title:'RSS', href:'/blog/rss.xml'}

  =stylesheet_link_tag "normalize"
  =stylesheet_link_tag "application"
