%head
  %meta{charset:"UTF-8"}
  %meta{name:'description', content:"Ryan Mulligan's personal website."}/

  -if @fulltitle
    %title=@fulltitle
  -elsif @title
    %title==#{@title} - Ryan Mulligan
  -else
    %title Ryan Mulligan

  %link{href:'http://openid.yubico.com/server.php', rel:'openid.server'}
  %link{href:'http://openid.yubico.com/server.php/idpage?user=ccccccbljrvr', rel:'openid.delegate'}

  %link{rel:'alternate', type:'application/rss+xml', title:'RSS', href:'/blog/rss.xml'}

  =stylesheet_link_tag "normalize"
  =stylesheet_link_tag "application"
