%td#sidebar
  .inner
    %ul.navigation
      %li==#{link_to "Home", "/"}
      %li=link_to "Blog", "blog"
      %ul
        %li=link_to "Archives", "blog/archives"
      %li==#{link_to "About", "about.html"}
      %ul
        %li=link_to "Resume", "resume.html"
        %li=link_to "Contact", "contact.html"

    <script type="text/javascript" src="http://disqus.com/forums/ryantm/combination_widget.js?num_items=5&color=blue&default_tab=people"></script>