%td#sidebar
  .inner
    %ul.navigation
      %li==#{link_to "Home", "/"}
      %li=link_to "Blog", "blog"
      %ul
        %li=link_to "Archives", "blog/archives"
      %li==#{link_to "About", "about.html"}
      %ul
        %li=link_to "Resume", "resume.html"
        %li=link_to "Contact", "contact.html"