-day = "Day Two"

-@title = "Polyphasic #{day}"
-@tags  = ["RyanTM", "Polyphasic"]
%h2
  == Polyphasic Sleep Log -- #{day}

=link_to "Day One", "polyphasic/day-one.html"

%h3
  100 Nap (Tiredness: 2, Mood: 7)
%p
  This nap didn't go so well. It took me much longer to go to sleep. I did feel better afterward though, and I ate a pear which made me feel a lot more awake. I finished watching Apocalypto during this cycle, because my nap interferred with the very end of the movie. So far still plugging away though. Tiredness is going to hit me soon, I must steel myself against it.


