-day = "Day One"

-@title = "Polyphasic #{day}"
-@tags  = ["RyanTM", "Polyphasic"]
%h2
  == Polyphasic Sleep Log -- #{day}
%h3
  1700 Nap (Tiredness: 3, Mood: 8)
%p
  My first nap was at 1700. I think I may have drifted into sleep for a couple of minutes. When I woke I was not particularly tired. I am anticipating getting much more tired, and coming up with things to do. Here are some ideas I have, post more if you have them:
%ul
  %li
    Situps
  %li
    Cardio Exercise
  %li
    Practice Pool
  %li
    Read
    =link_to "Fooled by Randomness", "http://www.amazon.com/Fooled-Randomness-Hidden-Chance-Markets/dp/1587990717"
  %li
    Fix my parents cookie press
  %li
    Work on MUDs
%h3
  2100 Nap (Tiredness: 4, Mood: 6)
%p
  During my second nap I was also able to sleep some. It seemed to go by faster than the first nap. It was weird, I told my dad, "See you Later" then 30 minutes later I came back down stairs and continued to hang out with him. Kinda cool. I started to play more pool during this cycle. I then went and watche Apocalypto which was a pretty good movie. I'm not sure if it is a bad idea to be watching movies because they might make me sleepy because I'm not actively participating in them.

=link_to "Day Two", "polyphasic/day-two.html"