!!! STRICT
="<!-- (c) #{Time.now.year} Ryan Mulligan All rights reserved. -->"
%html{:xmlns=>"http://www.w3.org/1999/xhtml", :lang=>"en"}
  %head
    -if @fulltitle
      %title=@fulltitle
    -elsif @title
      %title
        ==#{@title} - Ryan Mulligan
    -else
      %title Ryan Mulligan
    %meta{'http-equiv'=>"Content-Type", :content=>"text/html; charset=UTF-8"}/
    // Open Id
    %link{:rel=>"openid.server", :href=>"http://www.myopenid.com/server"}/
    %link{:rel=>"openid.delegate", :href=>"http://ryantm.myopenid.com"}/
    %meta{'http-equiv'=>"X-XRDS-Location",:content=>"http://www.myopenid.com/xrds?username=ryantm.myopenid.com"}/

    -unless @tags
      -default_tags = true
      -@tags = ["RyanTM"]
    -tag_join = @tags.join("+")
    -rss_href = "http://feeds.feedburner.com/RyanTM"
    %link{:rel=>"alternate", :type=>"application/rss+xml", :title=>"Ryan Mulligan",:href=>rss_href}

    =stylesheet_link_tag "application"
    %meta{:name=>'description', :content=>"Ryan T Mulligan's personal website."}/
    %meta{:name=>"keywords", :content=>"Ryan Mulligan, Ryan, Mulligan, RyanTM"}/
  %body
    #main
      .centers
        .sidebar
          =render :partial => 'partials/sidebar'
        .main
          =yield
      .clear
    <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
    var pageTracker = _gat._getTracker("UA-4515791-1");
    pageTracker._initData();
    pageTracker._trackPageview();
    </script>