!!! STRICT
="<!-- (c) #{Time.now.year} Ryan Mulligan All rights reserved. -->"
%html{:xmlns=>"http://www.w3.org/1999/xhtml", :lang=>"en"}
  =render :partial => 'partials/head'
  %body
    %table#maintable
      %tr
        %td#banner{:colspan=>3}
          .inner
            %a.logo{:href=>"/",:title=>"Ryan Mulligan's homepage"}
              Ryan Mulligan
      %tr
        %td#main
          .inner
            =yield
        =render  :partial => 'partials/sidebar'
    <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
    var pageTracker = _gat._getTracker("UA-4515791-1");
    pageTracker._initData();
    pageTracker._trackPageview();
    </script>